<section id="contactform">
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 46 rem;">
                <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3" style="cursor: default;">Contact Us</div>
                <h3 class="mb-4">Looking for a demo, proposal, or info? Share your details.</h3>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="" data-wow-delay="0.3s">
                        <form id = "contactMsgForm">
                            <fieldset id="contactFieldset">
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="name" required maxlength="50" placeholder="Your Name">
                                            <label for="name">Your Name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="email" class="form-control" id="email" required maxlength="60" placeholder="Your Email">
                                            <label for="email">Your Email</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="subject" required maxlength="200" placeholder="Subject">
                                            <label for="subject">Subject</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <div id="contactEditor" class="left-border-box" required maxlength="10000" placeholder="Leave a message here" style="height: 150px;">
                                            </div>
                                            <!--
                                            <textarea class="form-control" id="message" required maxlength="10000" placeholder="Leave a message here" style="height: 150px"></textarea>
                                            
                                            <label for="message">Message</label>
                                            -->
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100 py-3" id= "btnSendContact" type="submit" disabled onclick="sendMessageContact();">Send Message</button>
                                        <p></p>
                                        <label id="result" style="font-size:medium; font-weight: bold; color: rgb(3, 107, 38); border-color:rgb(1, 40, 13); border-style:inset;"></label>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>