<section class="hero">
        <!-- Hero Start -->
        <div class="container-fluid pt-5 bg-primary hero-header mb-5">
            <div class="container pt-5">
                <div class="row g-5 pt-5">
                    <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                        <div class="btn btn-sm border rounded-pill text-white px-3 mb-3 animated slideInRight">Smart AI Agents</div>
                        <h1 class="display-4 text-white mb-4 animated slideInRight">Empower Business with Agentic AI and Expert Consultancy</h1>
                        <p class="text-white mb-4 animated slideInRight">Platform with Pre-Built AI Agents.  Tailor & Use.  Build from Zero.  Integrate with Business Systems.  Powered with Technology Consultancy Services. </p>
                        <a class="btn btn-light py-sm-3 px-sm-5 rounded-pill me-3 animated slideInRight" onclick="loadModalContentWithEditor('home/getstart', 'getStartModal');">Get Started</a>
                        <a class="btn btn-outline-light py-sm-3 px-sm-5 rounded-pill animated slideInRight" onclick="loadContent('contact');">Book Consultation</a>
                    </div>
                    <div class="col-lg-6 align-self-end text-center text-lg-end">
                        <img class="img-fluid" src="../img/bot-lucky.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
</section>