<section class="team">
    <!-- Team Start -->
    <div class="container-fluid bg-light py-5">
        <div class="row g-5 align-items-center" style="padding-left: 50px" >
            <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3" style="cursor: default;">Our Team</div>
                <h1 class="mb-4">Meet Our Team</h1>
                <p class="mb-4">Meet the visionaries and experts behind AIProxys, dedicated to transforming businesses with Agentic AI solutions.</p>
                <p>Behind every intelligent agent is a team of passionate minds shaping the future of AI in business.</p>
                <p>Our Extended Consulting Team, AI Solution Architects, Industry Consultants, Implementation Engineers, and Support Specialists working together to help businesses work smarter and faster.</p>
                <p><strong>Innovation-Driven Culture</strong> – Our team thrives on curiosity, creativity, and continuous learning, ensuring every solution we deliver is cutting-edge and impactful.</p>
                <p><strong>Client-Centric Approach</strong> – We believe in working as an extended arm of your business, aligning technology with your unique goals for measurable outcomes.</p>
                <div class="col-lg-12 align-self-top text-center text-md-end wow fadeIn" data-wow-delay="0.5s">
                    <img class="img-fluid" style="box-shadow: 0 12px 30px rgba(0,0,0,0.5); border-radius: 12px;" src="../img/team-agents.png" alt="">
                </div>
                <p></p>
                <div class="d-flex align-items-center mt-4">
                    <a class="btn btn-outline-primary rounded-pill px-4 me-3" onclick="document.getElementById('nav-team').click();" class="nav-item nav-link">Read More</a>
                    <a class="btn btn-outline-primary btn-square me-3" href="https://www.facebook.com/?aiproxys" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-primary btn-square me-3" href="https://x.com/aiproxybots" target="_blank"><i class="fab fa-x-twitter"></i></a>
                    <a class="btn btn-outline-primary btn-square me-3" href="https://www.instagram.com/aiproxys" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-outline-primary btn-square me-3" href="https://www.linkedin.com/company/aiproxys/posts/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="row g-4">
                    <div class="col-md-5">
                        <div class="row g-4">
                            <div class="col-12 wow fadeIn" data-wow-delay="0.1s">
                                <div class="team-item text-center rounded p-4 pt-0">
                                    <img class="img-fluid rounded-circle p-4" src="../img/basha-3c.jpg" alt="">
                                    <h5 class="mb-0">S.M. Basha</h5>
                                    <small>Cofounder & Technology Consultant</small>
                                    <div class="d-flex justify-content-center mt-3">
                                        <a class="btn btn-square btn-primary m-1" href=""><i
                                                class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                <div class="team-item text-center rounded p-4 pt-0">
                                    <img class="img-fluid rounded-circle p-4" src="../img/blank-team.png" alt="">
                                    <h5 class="mb-0">Sonu</h5>
                                    <small>AI Architect</small>
                                    <div class="d-flex justify-content-center mt-3">
                                        <a class="btn btn-square btn-primary m-1" href=""><i
                                                class="fab fa-instagram"></i></a>
                                        <a class="btn btn-square btn-primary m-1" href=""><i
                                                class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="row g-4">
                            <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                                <div class="team-item text-center rounded p-4 pt-0">
                                    <img class="img-fluid rounded-circle p-4" src="../img/banu.png" alt="">
                                    <h5 class="mb-0">S.M. Banu</h5>
                                    <small>Cofounder & Chief Consultant</small>
                                    <div class="d-flex justify-content-center mt-3">
                                        <a class="btn btn-square btn-primary m-1" href=""><i
                                                class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 wow fadeIn" data-wow-delay="0.7s">
                                <div class="team-item text-center rounded p-4 pt-0">
                                    <img class="img-fluid rounded-circle p-4" src="../img/blank-team.png" alt="">
                                    <h5 class="mb-0">Santosh Kumar</h5>
                                    <small>Principal Consultant</small>
                                    <div class="d-flex justify-content-center mt-3">
                                        <a class="btn btn-square btn-primary m-1" href=""><i
                                                class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- Team End -->
</section>