<section class="footer">
    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 footer pt-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                    <a onclick="loadContent('home'); moveToTop();" class="d-inline-block mb-3 brand-header">
                        <h1 class="text-white" style="cursor: pointer">AIProxys</h1>
                    </a>
                    <p class="mb-0">A Platform with Pre-Built AI Agents. Tailor & Use. Build from Zero. Integrate with Business Systems.
                    </p>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                    <h5 class="text-white mb-4">Get In Touch</h5>
                    <p><i class="fa fa-map-marker-alt me-3"></i>HSR Layout, Bangalore, KA, India</p>
                    <p><i class="fa fa-phone-alt me-3"></i>+91 8792158941</p>
                    <p><i class="fa fa-envelope me-3"></i>basha@aiproxybots.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href="https://x.com/aiproxybots" target="_blank"><i class="fab fa-x-twitter"></i></a> <!-- <img src="img/twitter.svg" alt="X Logo" style="width: 24px; height: 24px;"/></a> -->
                        <a class="btn btn-outline-light btn-social" href="https://www.facebook.com/?aiproxys" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href="https://www.youtube.com/@AIProxys" target="_blank"><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/aiproxys" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-outline-light btn-social" href="https://www.linkedin.com/company/aiproxys/posts/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                    <h5 class="text-white mb-4">Popular Link</h5>
                    <a class="btn btn-link" onclick="document.getElementById('nav-about').click(); moveToTop();">About Us</a>
                    <a class="btn btn-link" onclick="document.getElementById('nav-services').click(); moveToTop();">Services</a>
                    <a class="btn btn-link" onclick="document.getElementById('nav-products').click(); moveToTop();">Products</a>
                    <a class="btn btn-link" onclick="document.getElementById('nav-contact').click();">Contact Us</a>
                    <a class="btn btn-link" onclick="document.getElementById('nav-policies').click(); moveToTop();">Privacy Policy</a>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                    <h5 class="text-white mb-4">Our Products</h5>
                    <a class="btn btn-link" onclick="document.getElementById('nav-products').click(); moveToTop();">Prebuilt AI Agents</a>
                    <a class="btn btn-link" onclick="document.getElementById('nav-products').click();moveToTop();">Customer Support Agents</a>
                    <a class="btn btn-link" onclick="document.getElementById('nav-products').click(); moveToTop();">Virtual Tutors</a>
                    <a class="btn btn-link" onclick="document.getElementById('nav-products').click(); moveToTop();">Virtual Receptionist</a>
                    <a class="btn btn-link" onclick="document.getElementById('nav-products').click(); moveToTop();">Personalised AI Agents</a>
                </div>
            </div>
        </div>
        <div class="container wow fadeIn" data-wow-delay="0.1s">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" onclick="document.getElementById('nav-home').click(); moveToTop();">AIProxys</a>, All Right Reserved.

                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        <!-- Designed By <a class="border-bottom" onclick="loadContent('home');">AIProxys</a>  Distributed By <a class="border-bottom" href="https://aiproxybots.com">AIProxys</a> -->
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a onclick="document.getElementById('nav-home').click(); moveToTop();">Home</a>
                            <a onclick="document.getElementById('nav-cookies').click(); moveToTop();">Cookies</a>
                            <a onclick="document.getElementById('nav-help').click(); moveToTop();">Help</a>
                            <a onclick="document.getElementById('nav-faq').click(); moveToTop();">FAQ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
</section>