<section class="header">
    <!-- Navbar Start -->
    <div class="container-fluid sticky-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark p-0 bg-primary shadow-sm">
                <a href="#home" data-page="home" id="brand-logo" class="navbar-brand">
                    <img src="../img/logo.jpg" width="55" alt="" />
                </a>
                <a href="#home" data-page="home" id="brand-title" class="navbar-brand">
                    <h1 class="text-white" style = "line-height: 0.5;">AIProxys</h1>
                    <span style="font-size:1rem;"><i>Innovate. Customize. Transform with AI.</i></span>
                    
                </a>

                <!-- Always visible (mobile only) -->
                <div class="d-flex align-items-center ms-auto d-block d-lg-none">
                    <button type="button" class="btn nav-link text-white p-0 me-2" data-bs-toggle="modal" data-bs-target="#searchModal">
                        <i class="fa fa-search"></i>
                    </button>
                    <a href="#contact" data-page="contact" data-has-editor="true" class="btn text-white">
                        <i class="fa fa-phone"></i>
                    </a>
                </div>

                <!-- Always visible (Desktop & Above only) -->
                <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto">
                        <a href="#home" data-page="home" class="nav-item nav-link active" id="nav-home">Home</a>
                        <a href="#about" data-page="about" class="nav-item nav-link" id="nav-about">About</a>
                        <a href="#products" data-page="products" class="nav-item nav-link" id="nav-products">Products</a>
                        <a href="#services" data-page="services" class="nav-item nav-link" id="nav-services">Services</a>
                        <div class="nav-item dropdown">
                            <a href="#" onclick="$('.nav-link').removeClass('active'); $(this).addClass('active');" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Blogs</a>
                            <div class="dropdown-menu bg-light mt-2">
                                <a href="#casestudy" data-page="casestudy" class="dropdown-item" id="nav-casestudy">Case Studies</a>
                                <a href="#team" data-page="team" class="dropdown-item" id="nav-team">Our Team</a>
                                <a href="#faq" data-page="faq" class="dropdown-item" id="nav-faq">FAQ</a>
                                <a href="#testimonials" data-page="testimonials" class="dropdown-item" id="nav-testimonials">Testimonials</a>
                                <!-- Separator -->
                                <div class="dropdown-divider"></div>

                                <a href="#proddocs/policies" data-page="proddocs/policies" class="dropdown-item" id="nav-policies">Polocies</a>
                                <a href="#proddocs/cookies" data-page="proddocs/cookies" class="dropdown-item" id="nav-cookies">Cookies</a>
                                <a href="#proddocs/help" data-page="proddocs/help" class="dropdown-item" id="nav-help">Help</a>
                            </div>
                        </div>
                        <button type="button" class="nav-item nav-link btn text-white p-0 d-none d-lg-block" data-bs-toggle="modal"
                        data-bs-target="#searchModal"><i class="fa fa-search"></i></button>
                        <a class="nav-item"></a>
                        <a href="#contact" data-page="contact" data-has-editor="true" class="btn btn-outline-light d-none d-lg-block px-sm-4 rounded-pill animated slideInRight" id="nav-contact"><b>Contact</b></a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->

</section>