<section class="casestudy">
    <!-- Case Start -->
    <div class="container-fluid bg-light py-5">
        <div class="container">
            <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 100%;">
                <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3" style="cursor: default;">Case Studies</div>
                <h1 class="mb-4">Explore our Agentic AI Case Studies</h1>
                <h4>Our Agentic AI solutions have transformed businesses across industries with measurable results and ROI</h4>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                    <div class="case-item position-relative overflow-hidden rounded mb-2 h-100">
                        <img class="img-fluid" src="../img/healthcare.jpg" alt="">
                        <a class="case-overlay text-decoration-none">
                            <small>Healthcare</small>
                            <h5 class="lh-base text-white mb-3">Multi-Specialty Hospital Appointment System</h5>
                            <span class="btn btn-square btn-primary" onclick="document.getElementById('nav-casestudy').click();"><i class="fa fa-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                    <div class="case-item position-relative overflow-hidden rounded mb-2 h-100">
                        <img class="img-fluid" src="../img/education.jpg" alt="">
                        <a class="case-overlay text-decoration-none">
                            <small>Education</small>
                            <h5 class="lh-base text-white mb-3">CBSE Learning Enhancement Program
                            </h5>
                            <span class="btn btn-square btn-primary" onclick="document.getElementById('nav-casestudy').click();"><i class="fa fa-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.7s">
                    <div class="case-item position-relative overflow-hidden rounded mb-2 h-100">
                        <img class="img-fluid" src="../img/ecomm.png" alt="">
                        <a class="case-overlay text-decoration-none">
                            <small>e-Coomerce</small>
                            <h5 class="lh-base text-white mb-3">Online Retail Customer Experience Transformation
                            </h5>
                            <span class="btn btn-square btn-primary" onclick="document.getElementById('nav-casestudy').click();"><i class="fa fa-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center mt-4">
                <a class="btn btn-outline-primary rounded-pill me-3 px-4" onclick="document.getElementById('nav-casestudy').click();">Read More</a>
                <a class="btn btn-outline-primary btn-square me-3" href="https://www.facebook.com/?aiproxys" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-outline-primary btn-square me-3" href="https://x.com/aiproxybots" target="_blank"><i class="fab fa-x-twitter"></i></a>
                <a class="btn btn-outline-primary btn-square me-3" href="https://www.instagram.com/aiproxys" target="_blank"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-outline-primary btn-square me-3" href="https://www.linkedin.com/company/aiproxys/posts/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
    <!-- Case End -->
</section>