<section class="testimonials">
    <!-- Testimonial Start -->
    <div class="container-xxl py-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                    <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3" style="cursor: default;">Testimonials</div>
                    <h1 class="mb-4">Here From Our Clients</h1>
                    <p class="mb-4">Don’t just take our word for it. Here’s what our clients and partners say about working with <strong>AIProxys</strong> and our <strong>Agentic AI Bots</strong>. </p>
                    <p class="mb-4">Every testimonial is a reflection of the trust and value <strong>AIProxys brings</strong>. Our goal is to build long-term partnerships where innovation and impact go hand in hand. </p>
                    
                    <div class="d-flex align-items-center mt-4">
                        <a class="btn btn-outline-primary rounded-pill me-3 px-4" onclick="document.getElementById('nav-testimonials').click();">Read More</a>
                        <a class="btn btn-outline-primary btn-square me-3" href="https://www.facebook.com/?aiproxys" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-primary btn-square me-3" href="https://x.com/aiproxybots" target="_blank"><i class="fab fa-x-twitter"></i></a>
                        <a class="btn btn-outline-primary btn-square me-3" href="https://www.instagram.com/aiproxys" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-outline-primary btn-square me-3" href="https://www.linkedin.com/company/aiproxys/posts/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-7 wow fadeIn" data-wow-delay="0.5s">
                    <div class="owl-carousel testimonial-carousel border-start border-primary">
                        <div class="testimonial-item ps-5">
                            <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                            <p class="fs-7">AIProxys transformed the way our clinic interacts with patients. The Virtual Receptionist Agent made appointment booking seamless, and our staff now focus on care instead of phone calls.</p>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid flex-shrink-0 rounded-circle" src="../../img/blank-team.png"
                                    style="width: 60px; height: 60px;">
                                <div class="ps-3">
                                    <h5 class="mb-1">Sanotsh Reddy</h5>
                                    <span>Healthcare Clinic Director, CnC Hospitals</span>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-item ps-5">
                            <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                            <p class="fs-7">The CBSE Virtual Tutors provided by AIProxys have been game-changers. Students get personalized attention, and teachers now have AI support to reinforce learning.</p>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid flex-shrink-0 rounded-circle" src="../../img/blank-team.png"
                                    style="width: 60px; height: 60px;">
                                <div class="ps-3">
                                    <h5 class="mb-1">Raghuram</h5>
                                    <span>School Principal, Sunshine</span>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-item ps-5">
                            <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                            <p class="fs-7">Our Employee Self-Service Agent drastically reduced repetitive queries. Employees now get instant responses about attendance and payslips—it has completely eased our HR workload.</p>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid flex-shrink-0 rounded-circle" src="../../img/blank-team.png"
                                    style="width: 60px; height: 60px;">
                                <div class="ps-3">
                                    <h5 class="mb-1">Archana P</h5>
                                    <span>HR Manager, Innovalent Technologies</span>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-item ps-5">
                            <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                            <p class="fs-7">The Hotel Booking Agent brought professionalism and efficiency to our operations. Guests love the 24/7 support, and we’ve seen a measurable increase in bookings.</p>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid flex-shrink-0 rounded-circle" src="../../img/blank-team.png"
                                    style="width: 60px; height: 60px;">
                                <div class="ps-3">
                                    <h5 class="mb-1">Muthu Kumar</h5>
                                    <span>Hotel Owner, Wison Pardise</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
</section>