<section id="receptionist">
    <!-- Sub-component placeholders -->
    <div id="shared-hero_others" data-subcomponent="shared/hero_others"></div>
    <!-- Placeholder for Search -->
    <div id="shared-search" data-subcomponent="shared/search"></div>
  
    <!-- Virtual Receptionist Start -->
    <div class="container-fluid bg-light py-5">
        <p>Virtual Receptionist</p>
    </div>
    <!-- Virtual Receptionist End-->

    <!-- Placeholder for Newsletter -->
    <div id="shared-newsletter" data-subcomponent="shared/newsletter"></div>
</section>