<section class="faq">
    <!-- Sub-component placeholders -->
    <div id="shared-hero_others" data-subcomponent="shared/hero_others"></div>
    
    <!-- Placeholder for Search -->
    <div id="shared-search" data-subcomponent="shared/search"></div>

    <!-- Placeholder for FAQ -->
    <div id="shared-faq" data-subcomponent="shared/faq-detail"></div>

    <!-- Placeholder for Newsletter -->
    <div id="shared-newsletter" data-subcomponent="shared/newsletter"></div>
    
</section>

    