<section class="services">
    <!-- Service Start -->
    <div class="container-fluid bg-primary feature pt-5">
        <div class="row g-5">
            <div class="col-lg-6 align-self-center mb-md-5 pb-md-5 wow fadeIn" data-wow-delay="0.3s">
                <div class="btn btn-sm border rounded-pill text-white px-3 mb-3">Our Services</div>
                <h1 class="text-white mb-4">Strategic Agentic AI Consulting Services</h1>
                <p class="text-white mb-4">Transform your business operations with our end-to-end Agentic AI solutions that work as digital team members.</p>
                <p class="text-white mb-4">We follow a comprehensive approach to ensure your business gets the maximum benefit from Agentic AI solutions. Our process is designed to understand your unique needs and deliver tailored automation strategies.</p>
                <div class="d-flex align-items-center text-white mb-3">
                    <div class="btn-sm-square bg-white text-primary rounded-circle me-3">
                        <i class="fa fa-check"></i>
                    </div>
                    <span>Smart Agents</span>
                </div>
                <div class="d-flex align-items-center text-white mb-3">
                    <div class="btn-sm-square bg-white text-primary rounded-circle me-3">
                        <i class="fa fa-check"></i>
                    </div>
                    <span>Virtual Tutor for Schools</span>
                </div>
                <div class="d-flex align-items-center text-white mb-3">
                    <div class="btn-sm-square bg-white text-primary rounded-circle me-3">
                        <i class="fa fa-check"></i>
                    </div>
                    <span>Customer Support Agents</span>
                </div>
                <div class="row g-4 pt-3">
                    <div class="col-sm-6">
                        <div class="d-flex rounded p-3" style="background: rgba(256, 256, 256, 0.1);">
                            <i class="fa fa-users fa-3x text-white"></i>
                            <div class="ms-3">
                                <h2 class="text-white mb-0" data-toggle="counter-up">12</h2>
                                <p class="text-white mb-0">Happy Clients</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex rounded p-3" style="background: rgba(256, 256, 256, 0.1);">
                            <i class="fa fa-check fa-3x text-white"></i>
                            <div class="ms-3">
                                <h2 class="text-white mb-0" data-toggle="counter-up">35</h2>
                                <p class="text-white mb-0">Projects Complete</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 align-self-top text-center text-md-end wow fadeIn" data-wow-delay="0.5s">
                <img class="img-fluid" style="height: 30rem" src="../img/ai-human.jpg" alt="">
                
                <div class="d-flex align-items-center mt-4">
                    <a class="btn btn-outline-light rounded-pill px-4 me-3" onclick="document.getElementById('nav-services').click();" class="nav-item nav-link">Read More</a>
                    <a class="btn btn-outline-light btn-square me-3" href="https://www.facebook.com/?aiproxys" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-square me-3" href="https://x.com/aiproxybots" target="_blank"><i class="fab fa-x-twitter"></i></a>
                    <a class="btn btn-outline-light btn-square me-3" href="https://www.instagram.com/aiproxys" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-outline-light btn-square me-3" href="https://www.linkedin.com/company/aiproxys/posts/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->
</section>